/* .body {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



body {
  margin-left: 10em;
  margin-right: 10em;
  height: 100vh;
  background: linear-gradient(to right top, #0E0D25, #030818) no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: white;
  padding: 10px 20px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbaritem { 
  color: white; 
  text-decoration: none;
  padding-inline: 25px;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
} 

.main--name {
  background: -webkit-repeating-linear-gradient(45deg, #9C8CFF, #CD73D2, #EC63B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Krona One";
  font-size: 3.5em;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.techbropic {
  border-radius: 100%;
}

.intro {
  background-image: radial-gradient(ellipse at center, #573663 -30%, rgba(0, 0, 0, 0) 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7em;
}

p {
  color: white;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
}
