/* .body {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



body {
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  background: linear-gradient(to right, #02020f, #030818);
}

nav {
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: white;
  padding: 10px 20px;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbaritem { 
  color: white; 
  text-decoration: none;
  padding-inline: 25px;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
} 

.main--name {
  background: -webkit-repeating-linear-gradient(45deg, #9C8CFF, #CD73D2, #EC63B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Krona One";
  font-size: 3.5em;
  margin-top: 0em;
}

.title-text {
  font-size: 1.15em;
}

.button-64 {
  margin-top:30px;
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: transparent;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  padding-top:10px;
  padding-bottom: 10px;
  color:white;
  font-family: 'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25;
  font-weight: 500;
  box-shadow: #9B57F1 -1px -1px 0px 1px, #EC63B5 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
  transition: all 0.2s;
  
}

.button-64:hover{
  box-shadow: #EC63B5 -1px -1px 0px 1px, #9B57F1 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
  transform: scale(1.01);
}

.techbropic {
  border-radius: 10%;
}

.boba {
  max-width: 90%;
  max-height: 90%;
}

.intro {
  background-image: radial-gradient(ellipse at center, #573663 -30%, rgba(0, 0, 0, 0) 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  margin-bottom:65px;
}

.about {
  text-align: center;
  justify-content: space-around;
  color: white;
  flex-direction: row;
  margin-bottom: 20px;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
}

.cont{
  display: flex;
  margin-top: 2em;
}

.cont--icon {
  margin-right: 0.5em;
  width: 30px;
}
.cont--icon2 {
  margin-right: 1em;
  width: 35px;
}

.colorful {
  background: -webkit-linear-gradient(0deg, #a699f6, #e0c8fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about--body {
  display:flex;
  text-align: left;
  font-size: 1.10em;
}

.contact{
  align-items:center;
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.projectcard {
  display: flex;
  text-align: justify;
  font-size: 1.10em;
  margin-bottom: 3em;
}

.projectcardtext {
  text-align: left;
  font-size: 1.10em;
  margin-left: 1em;
  margin-right: 1em;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.pcimg{
  height: 250px;
  border-radius: 4%;
  margin-left: 2em;
}

.cardheading {
  font-size: 1.5em;
  font-family:'Krona One', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .pcimg  {
        display:none;
  }
  .techbropic {
    display:none;
  }
}

p {
  color: white;
  font-family:'Kumbh Sans', Tahoma, Geneva, Verdana, sans-serif;
}
